{%  extends "core.html" %}
{% block content %}
<h1>Lista paczek</h1>
    <table border="1" bgcolor="aqua">
        <tr>
            <th>#</th>
            <th>Adresat</th>
            <th>Adres</th>
            <th>Kod pocztowy</th>
            <th>Telefon</th>
            <th>Użytkownik</th>
            <th>Ustaw status</th>
        </tr>
            <tr>{% for parcel in parcels %}
                <th>{{ parcel.pk }}</th>
                <th>{{ parcel.name }}</th>
                <th>{{ parcel.address }}</th>
                <th>{{ parcel.zip_code }}</th>
                <th>{{ parcel.phone_nb }}</th>
                <th>{{ parcel.client_id.client_name }}</th>
                <th><form>
                    <select name="status">
                        {% for status in statuses %}
                        <option value="{{ status.0 }}" {% if parcel.status.0 == status %} selected {% endif %}> {{ status.1 }} </option>
                        {% endfor %}
                    </select>
                <input type="submit" value="Zapisz">
                </form></th>
            </tr>
        {% endfor %}
    </table>
{% endblock %}